In [1]:
import pandas as pd
from google.cloud import bigquery
from google.cloud import bigquery_datatransfer

In [8]:
def create_df():
    df = pd.DataFrame(columns=['seq_id', 'user_id' , 'venue_id', 'latitude', 'longitude', 
                            'category', 'country'])
    return df

In [20]:
def add_data(query_job, df):
    for row in query_job:  # API request - fetches results
        # Row values can be accessed by field name or index
#         print("{} : {} : {} : {}".format(row.USER_ID, row.VENUE_ID, row.CATEGORY, row.SEQ_ID))
        df = df.append([{'seq_id':row.SEQ_ID, 'user_id':row.USER_ID, 'venue_id':row.VENUE_ID, 'latitude':row.LATITUDE, 
                         'longitude':row.LONGITUDE, 'category':row.CATEGORY, 'country':row.COUNTRY}], ignore_index=True)
    return df

In [2]:
client = bigquery.Client()

In [3]:
useless = 'WHERE USER_ID = 1 AND CATEGORY != "Bank" AND CATEGORY != "Automotive Shop" AND CATEGORY != "Building" '
useless += 'AND CATEGORY != "Playground" AND CATEGORY != "High School" AND CATEGORY != "Gas Station / Garage" '

In [4]:
useless

'WHERE USER_ID = 1 AND CATEGORY != "Bank" AND CATEGORY != "Automotive Shop" AND CATEGORY != "Building" AND CATEGORY != "Playground" AND CATEGORY != "High School" AND CATEGORY != "Gas Station / Garage" '

In [156]:
query = (
    'SELECT * FROM `dataset_TIST2015.Checkins_POIs` '
    'WHERE USER_ID = 2 AND CATEGORY != "Bank" AND CATEGORY != "Automotive Shop" AND CATEGORY != "Building" AND CATEGORY != "Playground" AND CATEGORY != "High School" AND CATEGORY != "Gas Station / Garage" AND CATEGORY != "Office" AND CATEGORY != "Doctor\'s Office" AND CATEGORY != "Train Station" AND CATEGORY != "Neighborhood" AND CATEGORY != "Factory" AND CATEGORY != "Home (private)" AND CATEGORY != "Dog Run" AND CATEGORY != "Subway" '
    'ORDER BY SEQ_ID '
    'LIMIT 10000')

In [157]:
query_job = client.query(
    query,
    # Location must match that of the dataset(s) referenced in the query.
    location='US')  # API request - starts the query

In [158]:
# for row in query_job:  # API request - fetches results
#     # Row values can be accessed by field name or index
#     print("{} : {} : {} : {}".format(row.USER_ID, row.VENUE_ID, row.CATEGORY, row.SEQ_ID))

In [159]:
# for row in query_job:  # API request - fetches results
#     # Row values can be accessed by field name or index
#     print("{} : {} : {} : {}".format(row.USER_ID, row.VENUE_ID, row.CATEGORY, row.SEQ_ID))
#     df = df.append([{'seq_id':row.SEQ_ID, 'user_id':row.USER_ID, 'venue_id':row.VENUE_ID, 'latitude':row.LATITUDE, 
#                      'longitude':row.LONGITUDE, 'category':row.CATEGORY, 'country':row.COUNTRY}], ignore_index=True)

In [160]:
# df

In [161]:
df = create_df()
df = add_data(query_job, df)

In [162]:
# df_1 = df.groupby('category').count()
# df_1 = df_1.reset_index()

In [163]:
i = 0
for index, row in df.iterrows():
    if(row['category']=='Airport' and i==0):
        i=1
        print("Start \n ========================================")
    elif(row['category']=='Airport' and i==1):
        i=0
        print(row['country'] , row['category'])
        print("End  \n =========================================")
    if(i > 0):
        print(row['country'], row['category'])

In [164]:
df

,seq_id,user_id,venue_id,latitude,longitude,category,country
0,20914,2,4b515360f964a520f64a27e3,35.316838,139.535722,Monument / Landmark,JP
1,21073,2,4b6e35bcf964a520dab12ce3,35.313147,139.532171,Temple,JP
2,21343,2,4b6ce770f964a520c55c2ce3,35.312411,139.533684,Temple,JP
3,21476,2,4b51667af964a520834c27e3,35.311387,139.536549,Light Rail,JP
4,22104,2,4b55b231f964a52033ec27e3,35.318207,139.550099,Light Rail,JP
5,22818,2,4b6cfb4bf964a5206b612ce3,35.337744,139.547503,Temple,JP
6,22904,2,4e4c76a1b0fb57f6f21f6470,35.338698,139.540663,Temple,JP
7,28311,2,4b76248cf964a520ac3f2ee3,35.683636,139.761549,Historic Site,JP
8,28671,2,4b7f961bf964a5208c3530e3,35.683340,139.760556,Garden,JP
9,28845,2,4cb0af673f0676b0a826fc0c,35.683793,139.759312,Historic Site,JP
10,29293,2,4b7c17c1f964a520787c2fe3,35.684032,139.758566,Historic Site,JP
11,30997,2,4b7a93d0f964a520fb312fe3,35.678586,139.753663,Historic Site,JP
12,32089,2,4b7bee49f964a5205c742fe3,35.683750,139.745604,Historic Site,JP
13,33616,2,4b812faff964a520c09930e3,35.702392,139.750468,Monument / Landmark,JP
14,34892,2,4b7d736ef964a5202abf2fe3,35.691417,139.736170,Historic Site,JP
15,67195,2,4b5be55ff964a520281c29e3,35.690468,139.754580,Art Museum,JP
16,67410,2,4b776fc8f964a520579a2ee3,35.691483,139.753143,Science Museum,JP
17,67594,2,4b7237fdf964a52064742de3,35.691391,139.749956,Park,JP
18,67688,2,4b5ab0ddf964a520f5d028e3,35.693204,139.749827,Stadium,JP
19,72005,2,4c2d929a260bc9287d461ad3,35.690729,139.758303,Gym / Fitness Center,JP
20,74204,2,4b68efe8f964a520f4932be3,35.687274,139.762707,Cemetery,JP
21,74661,2,4b82bb9ef964a52021e130e3,35.685431,139.757469,Historic Site,JP
22,75166,2,4b82ba39f964a520c3e030e3,35.686196,139.758132,Historic Site,JP
23,89707,2,4ee0a4a449010b2991c144c4,35.528571,139.697262,Soccer Field,JP
24,93877,2,4b56d6def964a520a81c28e3,35.528184,139.698029,Multiplex,JP
25,95365,2,4d12efffffa36ea83db7fcda,35.529105,139.697916,Grocery Store,JP
26,95556,2,4b9b3de1f964a520c8fb35e3,35.531061,139.697736,Coffee Shop,JP
27,143582,2,4b51667af964a520834c27e3,35.311387,139.536549,Light Rail,JP
28,144664,2,4b55b231f964a52033ec27e3,35.318207,139.550099,Light Rail,JP
29,146191,2,4b6cfb4bf964a5206b612ce3,35.337744,139.547503,Temple,JP
...,...,...,...,...,...,...,...
4688,33103188,2,4b5bf2e7f964a5208b1e29e3,35.319711,139.552519,Shrine,JP
4689,33104422,2,4b596bb4f964a520c18728e3,35.318594,139.551120,Grocery Store,JP
4690,33117842,2,4b5ff142f964a52043d129e3,35.309820,139.543726,Park,JP
4691,33119658,2,4b55b231f964a52033ec27e3,35.318207,139.550099,Light Rail,JP
4692,33142989,2,4b5a75e7f964a52085c628e3,35.531371,139.700217,Multiplex,JP
4693,33143363,2,4b56d6def964a520a81c28e3,35.528184,139.698029,Multiplex,JP
4694,33153946,2,4bb6ad702ea19521bc1cac2f,35.334821,139.551408,Temple,JP
4695,33155973,2,4b5bca05f964a5205b1629e3,35.324641,139.557030,History Museum,JP
4696,33157561,2,4b5bb99ff964a520701229e3,35.327521,139.555743,Art Museum,JP
4697,33158375,2,4b5bf2e7f964a5208b1e29e3,35.319711,139.552519,Shrine,JP
4698,33159857,2,4b55b231f964a52033ec27e3,35.318207,139.550099,Light Rail,JP
4699,33195394,2,4b59326ff964a520f78028e3,35.324912,139.555678,Shrine,JP
4700,33195741,2,4b5bca05f964a5205b1629e3,35.324641,139.557030,History Museum,JP
4701,33196290,2,4e23a52018a88345f0637020,35.324685,139.557374,Shrine,JP
4702,33203101,2,4bb5f3bd2f70c9b6e1ab8430,35.321253,139.553490,Shrine,JP
4703,33204792,2,4b55b231f964a52033ec27e3,35.318207,139.550099,Light Rail,JP
4704,33222468,2,5021e3ade4b0edf15a7c7ca8,35.338169,139.544242,Historic Site,JP
4705,33222833,2,4e7ed4769adf979a3f0eb70e,35.339328,139.549112,Temple,JP
4706,33233736,2,4b6cfb4bf964a5206b612ce3,35.337744,139.547503,Temple,JP
4707,33234076,2,4e4c76a1b0fb57f6f21f6470,35.338698,139.540663,Temple,JP
4708,33235523,2,4bb6ad702ea19521bc1cac2f,35.334821,139.551408,Temple,JP
4709,33237978,2,4b59326ff964a520f78028e3,35.324912,139.555678,Shrine,JP
4710,33238616,2,4b5bca05f964a5205b1629e3,35.324641,139.557030,History Museum,JP
4711,33239427,2,4b5bb99ff964a520701229e3,35.327521,139.555743,Art Museum,JP
4712,33241640,2,4b5bf2e7f964a5208b1e29e3,35.319711,139.552519,Shrine,JP
4713,33241994,2,4b56e052f964a520cb1d28e3,35.319629,139.552106,Grocery Store,JP
4714,33242316,2,4b596bb4f964a520c18728e3,35.318594,139.551120,Grocery Store,JP
4715,33243089,2,4b55b231f964a52033ec27e3,35.318207,139.550099,Light Rail,JP
4716,33244830,2,4b51667af964a520834c27e3,35.311387,139.536549,Light Rail,JP
4717,33259956,2,4b906d66f964a520cd8933e3,35.300608,139.550588,Island,JP